html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.page-wrapper{
    width: 100%;
    height: 100%;
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
}

.title-wrapper{
    font-family: Arial;
}

h1{
    color: #fff;
    font-size: 70px;
    margin: 0%;
    text-transform: uppercase;
}

h2{
    background-color: #fff;
    padding: 5px 10px;
    width: fit-content;
    color: grey;
    font-size: 44px;
    margin-top: -1px;
    font-weight: lighter;
}

.corner-wrapper{
    position: absolute;
    bottom: 50px;
}

.corner-wrapper.left{
    left: 50px;
}

.corner-wrapper.right{
    right: 50px;
    height: 80%;
}

.corner-wrapper.right img{
    height: 100%;
    width: auto;
}

.details-wrapper{
    height: 50px;
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 25px;
}

.details-content-wrapper{
    display: flex;
    justify-content: space-around;
}

.icon-wrapper{
    height: 45px;
    width: 25px;
}

.icon-wrapper img{
    height: 100%;
    width: auto;
}

.icon-wrapper,.info-wrapper div:nth-child(2){
    display: inline-block;
}

.info-wrapper div:nth-child(2){
    color: #fff;
    font-size: 20px;
    position: relative;
    top: -15px;
    left: 30px;
}

.info-wrapper:first-child div:nth-child(2){
    left: 15px;
}

.speakers-wrapper{
    position: absolute;
    right: 100px;
    bottom: 150px;
    height: 150px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Arial;
}

.speakers-content-wrapper{
    display: flex;
}

.image-wrapper{
    height: 100px;
    height: 100px;
}

.image-wrapper img{
    height: 100%;
    width: auto;
}

.individual-speakers-wrapper{
    margin-right: 30px;
}

.individual-speakers-wrapper:last-child{
    margin: 0;
}

.individual-speakers-wrapper div:nth-child(2){
    text-align: center;
    padding-top: 10px;
}

.title-speakers-wrapper{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 28px;
}

